.horizontal-text {
    background: linear-gradient(90deg, rgba(249, 37, 37, 1) 0%, rgba(228, 0, 0, 1) 80%, rgba(157, 3, 3, 1) 93%);
    border: 2px solid;
    width: 472px;
    height: 70px;
    position: absolute;
    align-items: end;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    left: 0px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    transform: rotate(90deg);
    /* No rotation, ensures it's horizontal */
    font-size: 46px;
    font-weight: lighter;
    color: white;
    word-spacing: 20px;
}

.horizontal-textTwo {
    letter-spacing: 20px;
    background: linear-gradient(90deg, rgba(249, 37, 37, 1) 0%, rgba(228, 0, 0, 1) 80%, rgba(157, 3, 3, 1) 93%);
    border: 2px solid;
    width: 472px;
    height: 70px;
    position: absolute;
    align-items: end;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    left: 0;
    border-radius: 0px 0px 10px 10px;
    text-align: end;
    transform: rotate(90deg);
    /* No rotation, ensures it's horizontal */
    font-size: 46px;
    font-weight: bold;
    color: white;
    word-spacing: 20px;
}